@model T1708ENewsWeb.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubjectMark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectMark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.RollNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
